:root {
    --main-bg-color: #171717; 
    --main-text-color: #f2f2f2;
    --main-higlight: darkviolet;
  }
  
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
body {
    background-color: var(--main-bg-color);
    font-family: Roboto Mono, sans-serif;
    color:var(--main-text-color);
    /* display: flex;
    justify-content: center;
    align-items: right; */
}

body, html {
    height: 100%;
}

.navbar {
    background-color: var(--main-bg-color);
    opacity: 0.9;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:  2em;
    z-index: 10;
}

.navbar ul {
    list-style: none;
    display: flex;    
}

.navbar ul li a{
    text-decoration: none;
    color: inherit;
    padding-left: 3em;
}


.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(photographer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* filter: brightness(60%); */
 }

 .hero_content {
    position: relative;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }

 .hero_title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
 }
 .hero_subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero_button {
    background-color: var(--main-higlight);
    color: white;
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
    outline: none;   

 }

 .hero_button:hover {
    background-color: black;
 }


 .container {
    margin: auto;
    max-width: 1200px;
}

h2 {
    text-align: center;
}

@media (max-width: 768px) {
  
    .navbar {
     flex-direction: column;
     /* padding: 2em; */
    }
  
 
}