/* GENERAL CSS */

:root {
    --main-bg-color: #f2f2f2; 
    --main-text-color: #171717;
    --main-higlight: #9400d3;
    --grey-background: #ececec;
    --foter-text: #919191;
    --yellow: #fc0;
  }
  
  *, *::before, *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
  
body {
    background-color: var(--main-bg-color);
    font-family: Roboto Mono, sans-serif;
    color:var(--main-text-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.highlight {
    color: var(--main-higlight);
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 2em;
}


.section {
    margin-bottom: 4em;
}


h1 {
    padding: 2em 0 0 0;
    font-size: 3em;
}

h2{
    line-height: 1.4em;
    font-size: 2.1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

/* NAVIGATION */

.navbar {
    opacity: 0.9;
    border-bottom: 1px solid rgb(181, 181, 181);
    
    padding-bottom: 2em;
    width: inherit;
    height: auto;
}

.navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;    
}



/* NAV HOVER EFFECT */

a.left {
    position: relative;
    text-decoration: none;
    color: var(--main-text-color);
    
}

a.left:before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -8px;;
  left: 0;
  background-color: var(--main-higlight);
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
  }




#logo{
    width: 5em;
    height: 5em;
}


/* INTRO SECTION */


.list_links {
  list-style: none;  
  list-style-position: inside;
  padding-left: 0;
  margin-top: 1.5em;
}

.list_links li {
    margin-bottom: 0.8em;
  }

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
}

.welcome_message {
    font-size: 4em;
    font-weight: 800;
}

.intro {
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.5s ease-in-out;
}

.intro_displayed {
    visibility: visible;
    opacity: 1;
    transform: translate(0px);
}

.intro_part1 {
    padding-top: 1em;
}

.paragraph_text{
    line-height: 1.8em;
}



/* hover text effect in intro section */

.text_higlight, .text_higlight:focus{
    background-color: transparent;
    border-color: transparent;
    position: relative; 
    display: inline-block;
    padding:0!important; 
    z-index: 3; 
    color: black;
    border-bottom: .08em solid var(--main-higlight);  
    text-decoration: none;
}
.text_higlight:hover{
    color: black; text-decoration: none; 
    background-color: transparent;
    border-color: transparent;
}
.text_higlight::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -4px;
    width: 100%; 
    height: 100%;
    color: inherit; 
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(90deg, var(--yellow) 0%, var(--yellow) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    background-position: 0 100%;
    transition: .3s;
    z-index: -1;
}
.text_higlight:hover::before {
    background-size: 100% 100%;
    border-color: var(--yellow);
    color: black;
    z-index: -1;
}


/* ABOUT ME SECTION */

.aboutme_section {
    padding: 6em 0;
    background-color: var(--grey-background);  
}


.my_img {
    border-radius: 0.3em;
    opacity: 0.5;
    transition: 0.5s all ease-in-out;
}

.my_img:hover {
    opacity: 1;
}

.subtitle {
    font-size: 0.8em;
}

.aboutme_list{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.aboutme_list li {
    margin-top: 1em;
}

.grid_container3 {
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4em;
}

.aboutme_part2 {
    position: relative;
}


/* ANIMATION OF THE GRAPHIC ELEMENT */

.graphic_element1 {
    position: absolute;
    width: 12em;
    height: 12em;
    right: -58px;
    bottom: -37px;
    -webkit-animation: element_animation 2.5s infinite; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-out;
    animation: element_animation 2.5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes element_animation {
    from {top: 0px;}
    to {top: 40px;}
}
  
  
@keyframes element_animation {
    from {top: 0px;}
    to {top: 40px;}
}

/* SLIDER */

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    margin-top: 8em;
    width: 800px;
    height: 500px;
    background-color: var(--main-higlight);
}

/* FOOTER */

footer {
    width: 100%;
    background-color: var(--grey-background);
}

footer h4 {
    margin: 4em;
    color: var(--foter-text);
}


/* MEDIA QUERIES */

@media (max-width: 768px) {

    .navbar ul{
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        justify-items: left;

    }

    .navbar ul li {
        font-size: 1.2em;
        margin-top: 0.5em;
    }

    .container {
        padding: 1em;
    }

    .grid_container {
        grid-template-columns: 1fr;
        grid-row-end: 0;
        
    }

    #logo{
        width: 3em;
        height: 3em;
    }


    h1 {
        font-size: 1.6em;
    }

    .intro_part2 {
        grid-row-start: 1;
    }

    h2 {
        font-size: 1.8em;
    }
    
    .welcome_message {
        font-size: 3em;
    }

    .list_links li {
        font-size: 1.6em;
    }

    .grid_container3 {
        grid-template-columns: 1fr;
    }

    .aboutme_part1 {
        margin-bottom: 3em;
    }

    .aboutme_list{
        margin-bottom: 3em;
    }

    .graphic_element1 {
        width: 9em;
        height: 9em;
        right: -5px;
    }

    .my_img{
        width: 90%;
        margin: 0 auto;
        opacity: 1;
    }

    .text{
        margin-top: 2em;
    }

    .contact2{
        margin-top: 2em;
    }
}