/* COLOURS */
:root {
    --main-bg-color: #;
    --main-text-color: #f5f5f5;
    --main-higlight: #9400d3;
    --grey-background: #f4f4f4;
    --foter-text: #919191;
    --yellow: #fc0;
}

/* GENERAL CSS */

*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: Roboto Mono, sans-serif;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.highlight {
    color: var(--main-higlight);
}

.container {
    margin: auto;
    max-width: 1280px;
    padding: 2em;
}


.section {
    margin-bottom: 4em;
}


h1 {
    padding: 2em 0 0 0;
    font-size: 3em;
}

h2 {
    line-height: 1.4em;
    font-size: 2.1em;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    position: relative;
    z-index: 1;
}

h2.section_header::before {
    background-color: var(--yellow);
    clip-path: polygon(100% 0px, 0% 100%, 100% 100%);
    width: 60px;
    height: 60px;
    left: -35px;
    content: '';
    position: absolute;
    top: -8px;
    z-index: -1;
}

h3 {
    margin-bottom: 1em;
}

button {
    outline: none;
}

.icon_small {
    width: 24px;
    height: 24px;
    margin-right: 0.6em;
}

.icon_link {
    width: 24px;
    height: 24px;
    margin-right: 0.6em;
}

.icon_medium {
    width: 32px;
    height: 32px;
    margin-right: 0.8em;
}

.icon_footer {
    width: 32px;
    height: 32px;
}

.icon_big {
    width: 48px;
    height: 48px;
    margin-right: 0.3em;
}


.paragraph_text {
    line-height: 1.8em;
    margin-bottom: 0.6em;
    font-size: 0.9em;
}

.flex {
    display: flex;

}

/* NAVIGATION */
.navbar {
    border-bottom: 1px solid rgb(181, 181, 181);
    padding-bottom: 2em;
    width: inherit;
    height: auto;
}

.navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
}


/* NAV HOVER EFFECT */
a.left {
    position: relative;
    text-decoration: none;
    color: var(--main-text-color);
}

a.left:before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -8px;
    ;
    left: 0;
    background-color: var(--main-higlight);
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}


/* INTRO SECTION */
.list_links {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin-top: 1.5em;
}

.list_links li {
    margin-bottom: 0.8em;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
}

.welcome_message {
    font-size: 4em;
    font-weight: 800;
}

.intro {
    position: relative;
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out 0s forwards;
    animation-delay: 0.1s;
    margin-bottom: 7em;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 60%, 0);
        transform: translate3d(0, 60%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 60%, 0);
        transform: translate3d(0, 60%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.intro_part1 {
    padding-top: 1em;
}

.intro_image1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: -9px;
    top: 400px;
    opacity: 0.6;
}

.intro_image2 {
    position: absolute;
    width: 200px;
    height: 200px;
    right: -9px;
    top: -38px;
    opacity: 0.6;
    transform: rotate(180deg);
    z-index: -1;
}

.motto {
    background: var(--main-higlight);
    padding: 0.3em 1em;
    color: white;
    display: inline;
}

.instruction {
    font-size: 0.7em;
}

.change_colour {
    margin-top: 2em;
}

/* hover text effect in intro section */
.text_higlight,
.text_higlight:focus {
    background-color: transparent;
    border-color: transparent;
    position: relative;
    display: inline-block;
    padding: 0 !important;
    z-index: 3;
    color: black;
    border-bottom: .08em solid var(--main-higlight);
    text-decoration: none;
}

.text_higlight:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.text_higlight::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -4px;
    width: 100%;
    height: 100%;
    color: inherit;
    transition: background-size 0.25s ease-in;
    background-image: linear-gradient(90deg, var(--yellow) 0%, var(--yellow) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    background-position: 0 100%;
    transition: .3s;
    z-index: -1;
}

.text_higlight:hover::before {
    background-size: 100% 100%;
    border-color: var(--yellow);
    color: black;
    z-index: -1;
}


/* ABOUT ME SECTION */
.aboutme_section {
    padding: 6em 0;
    background-color: var(--grey-background);
}

.grid_container_about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 4em;
    :
}

.my_img {
    border-radius: 0.3em;
    opacity: 0.35;
    transition: 0.5s all ease-in-out;
    width: 100%;
    height: auto;
}

.my_img:hover {
    opacity: 0.8;
}

.subtitle {
    font-size: 0.8em;
}

.aboutme_list {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

.aboutme_list li {
    margin-top: 1em;
}

.grid_container3 {
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4em;
}

.aboutme_part2 {
    position: relative;
}


/* ANIMATION OF THE GRAPHIC ELEMENT */
.graphic_element1 {
    position: absolute;
    width: 9em;
    height: 9em;
    right: -73px;
    bottom: -37px;
    -webkit-animation: element_animation 2.5s infinite;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-out;
    animation: element_animation 2.5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

@-webkit-keyframes element_animation {
    from {
        top: 0px;
    }

    to {
        top: 40px;
    }
}

@keyframes element_animation {
    from {
        top: 0px;
    }

    to {
        top: 40px;
    }
}

/* SLIDER */
.slider {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    margin-top: 6em;
}

.slider_container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: auto;
}

.slider_heading {
    text-align: center;
}

.image {
    display: none;
    max-width: 100%;
    height: auto;
}

.display {
    display: block;
    max-width: 100%;
    height: auto;

}

.button {
    font-size: 1em;
}

.arrow_button {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 3em;
    color: var(--main-higlight);
    padding: 0em 0.2em 0.1em;
    border: 0px;
    border-radius: 3px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.next_button {
    right: 0;
}

.arrow_button:hover {
    background: var(--main-higlight);
    color: white;
}

.control_buttons {
    margin-top: 1em;
    text-align: center;
}

.control_buttons button {
    padding: 0.2em 1em;
    background: var(--main-higlight);
    color: white;
    font-size: 1.5em;
    border-radius: 3px;

}

.progress {
    margin: 1em auto;
    text-align: center;
}

.step {
    height: 10px;
    width: 30px;
    background-color: var(--yellow);
    margin: 0.1em;
    display: inline-block;
    opacity: 0.3;
    border-radius: 3px;
    cursor: pointer;
}

.active {
    opacity: 1;
}


/* FOUNDERS AND CODERS SECTION */
.cubes {
    transform: scale(0.6);
}

/* FOOTER */
footer {
    width: 100%;
    background-color: var(--grey-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4 {
    margin: 4em;
    color: var(--foter-text);
}


/* MEDIA QUERIES */
@media (max-width: 480px) {
    .intro_image1 {
        display: none;
    }
}

@media (max-width: 768px) {

    .navbar ul {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        justify-items: left;
        margin-top: 0.8em;
    }

    .navbar ul li {
        font-size: 1em;
        margin-top: 0.5em;
    }

    .container {
        padding: 1em;
    }

    .grid_container {
        grid-template-columns: 1fr;
        grid-row-end: 0;
    }

    h1 {
        font-size: 1.6em;
    }

    .intro_part1 {
        padding-top: 3.5em;
    }

    .intro_part2 {
        grid-row-start: 1;
    }


    .intro_image1 {
        display: none;
    }

    .intro_image2 {
        top: -18px;
    }

    .welcome_message {
        font-size: 3em;
    }

    .list_links li {
        font-size: 1.6em;
    }


    .grid_container_about {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 4em;
        :
    }

    .grid_container3 {
        grid-template-columns: 1fr;
    }

    .aboutme_part1 {
        margin-bottom: 3em;
    }

    .aboutme_list {
        margin-bottom: 3em;
    }

    .my_img {
        margin: 0 auto;
        opacity: 0.8;
    }

    .text {
        margin-top: 2em;
    }

    .contact2 {
        margin-top: 2em;
    }

    a.left:hover:before {
        visibility: hidden;
    }

    .text_higlight:hover {
        visibility: hidden;
    }

    h2.section_header::before {
        left: -20px;
    }

    .control_buttons button {
        font-size: 2em;
    }

    .step {
        height: 20px;
        width: 50px;
    }

    .progress {
        margin-top: 2em;
    }

    .icon_link {
        width: 48px;
        height: 48px;
    }

    .icon_small {
        width: 32px;
        height: 32px;
    }


    .icon_medium {
        width: 48px;
        height: 48px;
    }

    .icon_big {
        width: 48px;
        height: 48px;
    }


}

@media (max-width: 980px) {

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2em;
    }

    .arrow_button {
        position: absolute;
        transform: translateY(-50%);
        font-size: 3em;
        color: white;
        background-color: var(--main-higlight);
    }

    .graphic_element1 {
        width: 7em;
        height: 7em;
        right: -12px;
    }

}